integration/src/test/resources/datetime.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Birthdate">
        <xs:sequence>
            <xs:element name = 'date' type = 'xs:date'/>
            <xs:element name = 'time' type = 'xs:date'/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event">
        <xs:sequence>
            <xs:element name = 'date' type = 'xs:date'/>
            <xs:element name = 'location' type = 'xs:string'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
