integration/src/test/resources/event.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Event">
        <xs:sequence>
            <xs:element name='singleDate' type='xs:date'/>
            <xs:element minOccurs="0" maxOccurs="1" name='optionDate' type='xs:date'/>
            <xs:element minOccurs="0" maxOccurs="3" name='multipleList' type='xs:date'/>
            <xs:element minOccurs="0" maxOccurs="3"  name='multipleLocation' type='Location'/>
            <xs:element minOccurs="0" maxOccurs="1"  name='optionalLocation' type='Location'/>
            <xs:element name='singleLocation' type='Location'/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Location">
        <xs:sequence>
            <xs:element name='country' type='xs:string'/>
            <xs:element name='city' type='xs:string'/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
